@import url("https://rsms.me/inter/inter.css");

@tailwind base;

html {
  font-family: "Inter", sans-serif;
  background-color: #9400D3;
}

@tailwind components;

.inline-block {
  @apply bg-orange-600;
}

.bodyPadding{
  @apply py-24;
  @apply px-4;
}

.btn {
  @apply py-2;
  @apply px-4;
  @apply rounded;
}

.btn-orange {
  @apply bg-orange-500;
  @apply text-black;
}

.btn-orange:hover {
  @apply bg-orange-600;
}

.btn-disabled {
  @apply bg-gray-400;
  @apply text-white;
  @apply cursor-default;
}

.btn-outlined {
  @apply border;
  @apply border-black;
  @apply text-black;
}

.btn-outlined:hover {
  @apply bg-black;
  @apply text-white;
}

.btn-large {
  @apply py-4;
  @apply px-8;
  @apply text-lg;
}

.input {
  @apply block;
  @apply text-black;
  @apply bg-white;
  @apply border;
  @apply border-gray-300;
  @apply rounded-lg;
  @apply py-2;
  @apply px-4;
  @apply appearance-none;
  @apply leading-normal;
}

.input-error {
  @apply border-2;
  @apply border-red-500;
}

.main {
  min-height: calc(100vh - 80px);
}

@tailwind utilities;

/* html {
  font-family: "Inter", sans-serif;
  background-color: #9400D3;
  color: white;
}
 */
 input {
  display: block;
  min-width: 90%;
  margin: 1em;
  padding: 1em;
  width: 35em;
  border-radius: 8px;
  border-style: none;
  border: 1px solid #e4e6e8;
  transition: 0.1s ease;
}

input:hover {
  border-color: palevioletred;
}

button {
  margin: 0.8em;
  padding: 1em;
  border: 1px solid #e4e6e8;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s ease-in;
}

button:hover {
  background-color: white;
  color: white;
}

